.tabGroup {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

.list:hover {
  color: #006d88;
  border: 1px solid #00ccff;
  background-color: #202429b4;
}

.listSubject li {
  list-style: none;
  padding-left: 20px;
  font-family: "Times New Roman", Times, serif;
}


.listLanguage li {
  list-style: none;
  padding-left: 20px;
  font-family: "Times New Roman", Times, serif;
}
