/* ================================================================
            main Component
================================================================ */

.textIndex {
  display:flex;
  text-align: left;
  line-height: 1.3;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  z-index: 12;
}

.textIndex1 {
  color: #64ffda;
  font-size: 15px;
}

.textIndex2 {
  color: #4a9ae1;
  font-size: 60px;
}

.textIndex3 {
  color: #8b8e8f;
  font-size: 40px;
}

.textIndex4 {
  color: #555555;
  font-size: auto;
}

.textIndex {
  height: 600px;
}

.author a{
  color: #8b8e8f;
  font-size: 13px;
  font-weight: 100;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .bodyFooter{
    display: none;
  }
  .bodyFooter .butn{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .bodyFooter{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 150px;
    margin: 0px;
  }
  .bodyFooter .butn{
    display: flex;
  }
  .bodyFooter a{
    display: flex;
    padding: 0px 10px;
  }
}