
/* 
@media screen and (min-width: 768px) {
  .bodyFooter{
    display: none;
  }
  .bodyFooter .butn{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .bodyFooter{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    width: 150px;
    margin: 0px;
  }
  .bodyFooter .butn{
    display: flex;
  }
  .bodyFooter a{
    display: flex;
    padding: 0px 10px;
  }
} */